body {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main-content {
  width: 100%;
}
.__container {
  padding-left: 15px;
  padding-right: 15px;
}

.header nav {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
}

.rrr {
  border: none;
  background-color: aqua;
}
/* .wrapper {
} */
.list-products {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item-product {
  border: 1px solid #000;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-product {
  width: 100px;
  height: 100px;
  padding: 20px 15px;
  /* margin: 0 auto;
  display: block; */
  /* padding-top: 20px; */
}

.button {
  height: 30px;
  width: 80%;
  border: none;
  background-color: antiquewhite;
  margin-bottom: 15px;
}
