body {
  margin: 0;
  box-sizing: border-box;
  background-color: #282828;
  color: #ffffff;
}

.wrapper {
}

.header {
}

.logo {
  display: block;
  margin: 20px auto 15px;
}
.main-content {
  width: 100%;
}
.__container {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.header nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.rrr {
  border: none;
  background-color: aqua;
}

.text-promo p {
  color: #323030;
  box-shadow: inset;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 280px;
  text-wrap: wrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
/* .wrapper {
} */
.list-products {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

/* .blur-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 50%;
} */

.item-product {
  outline: 1px solid rebeccapurple;
  /* height: min-content; */
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.image-product {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-height: fit-content;
  object-fit: cover;
}

.__container-product {
  padding: 0 5px 15px;
}

.description__text span {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.description__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.product__info {
  display: flex;
  justify-content: space-between;
}

.product__info span {
  font-size: 16px;
  font-weight: 600;
}

.product__info span + span {
  font-size: 14px;
}

.button {
  height: 30px;
  width: 100%;
  border: none;
  background-color: antiquewhite;
  margin-bottom: 15px;
  margin: 0 auto;
}
